{{#if data.categories}}
<div class="row" style="margin-top: 40px">
  <div class="col-lg-12">
    <div class="card">
      <h5 class="card-header">Kategori</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled mb-0">
              {{# each data.categories }}
              <li>
                <a href="{{categoryUrl key}}">{{name}}</a>
              </li>

              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{{/if}}